* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

.parContainer {
  position: absolute;
  background: black;
  margin: 200px;
  width: 23%;
  height: 525px;
}
.top {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(4, 70px);
  padding-left: 7px;
  font-size: 30px;
  font-weight: 30px;
}
.output {
  grid-column: 1/-1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 25px;
  height: 100px;
}
.output .previous-operand {
  color: #738a84;
  font-weight: 1.5rem;
}
.output .current-operand {
  color: #fbfffe;
  font-weight: 1.5rem;
}
.btn {
  width: 55px;
  height: 55px;
  border-radius: 25px;
  margin: 2px;
  border: none;
}
.sq {
  width: 120px;
  height: 55px;
  border-radius: 20px;
  margin: 2px;
  border: none;
}
.reset {
  width: 120px;
  height: 55px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
}
.res {
  margin-left: 70px;
}
.num {
  background: rgb(200, 196, 196);
}
.complexfun {
  background: #04bcef;
}
.func {
  background: #03eeb0;
}
